<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.janclarin.jisho-alfred-workflow</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>1A1B1F4A-02DD-427B-AA1C-9BC7BE384C6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AA912D7-988F-4675-A82D-8DF9DC18F094</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jan Clarin</string>
	<key>description</key>
	<string>Easily search Jisho.org, a powerful Japanese-English dictionary</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Jisho.org</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>%20</string>
				<key>url</key>
				<string>http://jisho.org/search/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1AA912D7-988F-4675-A82D-8DF9DC18F094</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>103</integer>
				<key>keyword</key>
				<string>ji</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python jisho.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Jisho.org</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1A1B1F4A-02DD-427B-AA1C-9BC7BE384C6D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1A1B1F4A-02DD-427B-AA1C-9BC7BE384C6D</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>1AA912D7-988F-4675-A82D-8DF9DC18F094</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/janclarin/jisho-alfred-workflow</string>
</dict>
</plist>
